ul > li {
  display: block;
  text-decoration: none;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-container > h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin: 0 0 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

form {
    text-align: center;
}
.submit-button {
  margin-top: 10px ;
    margin-left: 5px;
    margin-right: 5px;
  background-color: #FFEEAD;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
    cursor: pointer;
}

.submit-button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.submit-button:hover, .submit-button:target, .submit-button:focus {
    background-color: #FFCC5C;
    color: black;
    font-weight: bold;
}

.nav-bar .icon {
  display: none;
}
/* Add a black background color to the top navigation */
.nav-bar {
    background-color: #FF6F69;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav-bar-items a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    border-radius: 6px;
}

/* Change the color of links on hover */
.nav-bar-items a:hover,.nav-bar-items a:focus,.nav-bar-items a:target{
    background-color: #ffffff;
    color: black;
}

.form-input {
    text-align: left;
    font-weight: bold;
}

.selectedNavElement {
    background-color: #ffffff;
    color: black;
}

input , select {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 0;
    padding-left: 2px;
  border: none;
  outline: none;
  color: #4f87c7;
  font-weight: bold;
  font-size: 14px;
    border-radius: 6px;
}

input:hover, input:focus, input:target,select:hover, select:focus, :target {
  background-color: #ffbdc9;
  font-weight: bolder;
}

div > label {
  text-align: left;
  display: block;
  padding: 5px 5px 5px;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
    border-radius: 6px;
}
