/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu");

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-weight: 300;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 70%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

.flex-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
