* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

.flex-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: beige;
    max-width: 100vw;
}
