.workout-card {
    margin: 10px 5px 10px 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
}

.exercises ul{
    text-decoration: none;
    list-style: none;
}